@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9fc;
  color: #222;
}

main {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #e9e6ee;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #431049;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label,
legend {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #431049;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #5e1570;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #431049;
  color: white;
}