@media screen and (min-width: 900px) {
  #menuBtn {
    display: none;
  }

  #navMenu ul {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  .temple-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}
