@media screen and (min-width: 900px) {
  /* Hide hamburger */
  #menuBtn {
    display: none;
  }

  /* Nav menu horizontal in large view */
  #navMenu ul {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

  /* Force 3-column layout */
  main {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}